<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="info.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js'></script>
	<link href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet' />

	<title>Get Started</title>
</head>
<body class="bg-gradiente-vice-city">
	<h2 class="main_title mt-5 text-light">The World.</h2>

	<p class="text-start text text-light my-4 fs-6">Hola y bienvenido, esta api te proporciona una lista de todos,los países del mundo con sus respectivas estados o regiones. y sus ciudades o pueblos. demás de otras informaciones. API publica creada por Joan Cermeño </p>
	<div class="container d-flex justify-content-center">
		<span class="text-center text-light fs-1">{🌎}</span>	
	</div>
	<div class="container w-75 py-2 border rounded bg-light">
		<div class="container d-flex justify-content-center">
			<h2 class="fs-2">Ejemplo</h2> 
		</div>
		<div class="form-floating p-2 mx-auto">

			<select class="form-select form-select-sm" id="select_pais" aria-label="Default select example">
		  		<option selected>--Selecione un Pais--</option>

			</select>
			<label for="select_pais">País.</label>

		</div>

		<div class="form-floating p-2">

			<select class="form-select form-select-sm" id="select_estado" aria-label="Default select example">
				<option selected value="default">--Selecciona un Estado--</option>

			</select>

			<label for="select_pais">Seleccione un estado
				<div class="bar-load hiden" id="bar-load-estado">
					<div class="bar-padding"></div>
				</div>
			</label>

		</div>

		<div class="form-floating p-2">

		  <select class="form-select form-select-sm" id="select_ciudad" aria-label="Default select example">
		  	<option selected value="default">--Selecione una Ciudad--</option>
		    
		  </select>
		  <label for="select_pais"> Ciudades 
			<div class="bar-load hiden" id="bar-load-ciudad">
				<div class="bar-padding"></div>
			</div>
		  </label>


		</div>

		<div class="container mx-auto" style="width: 200px;">
			<button type="button" id="btnGetInfo" class="btn btn-outline-info">Solicitar información</button>
		</div>

		<section class="container d-none d-flex flex-column align-items-center  mt-5 " id="section-map">

			<article class="container alert alert-dark" id="article_description" role="alert">
				<div class="bar-load hiden" id="bar-load-metada">
					<div class="bar-padding"></div>
				</div>
			</article>


			<div class="hiden mx-auto mb-5" id='map' style='width: 400px; height: 300px;'></div>
			
			<section id="bottom-container-map" class="container d-flex justify-content-evenly alert alert-info" role="alert">
				
				<span class="badge text-bg-info text-light" id="badge-lng"></span>
				<span class="badge text-bg-info text-light" id="badge-lat"></span>
	

			</section>		
		</section>


	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<script type="text/javascript" src="http://<%=host%>:<%=port%>/selectSearch.js"></script>
	<script type="text/javascript" src="http://<%=host%>:<%=port%>/showMap.js"></script>
	<script type="text/javascript" src="http://<%=host%>:<%=port%>/reqWikipedia.js"></script>
</body>
</html>
